// app global css

.grey-text {
	color: #c5c5c5;
}

@font-face
	font-family Montserrat-Thin
	src url(/assets/fonts/Montserrat/Montserrat-Thin.ttf)

@font-face
	font-family Montserrat-Light
	src url(/assets/fonts/Montserrat/Montserrat-Light.ttf)

@font-face
	font-family Montserrat-Regular
	src url(/assets/fonts/Montserrat/Montserrat-Regular.ttf)

@font-face
	font-family Montserrat-Medium
	src url(/assets/fonts/Montserrat/Montserrat-Medium.ttf)

@font-face
	font-family CooperHewitt-SemiboldItalic
	src url(/assets/fonts/CooperHewitt/CooperHewitt-SemiboldItalic.otf)

body #q-app
	font-family Montserrat-Regular

.text-blueish {
  color: #33597b;
}

.bg-blueish {
  background: #33597b;
}