// app global css

@font-face
	font-family Montserrat-Thin
	src url(/assets/fonts/Montserrat/Montserrat-Thin.ttf)

@font-face
	font-family Montserrat-Light
	src url(/assets/fonts/Montserrat/Montserrat-Light.ttf)

@font-face
	font-family Montserrat-Regular
	src url(/assets/fonts/Montserrat/Montserrat-Regular.ttf)

@font-face
	font-family Montserrat-Medium
	src url(/assets/fonts/Montserrat/Montserrat-Medium.ttf)

@font-face
	font-family CooperHewitt-SemiboldItalic
	src url(/assets/fonts/CooperHewitt/CooperHewitt-SemiboldItalic.otf)

@font-face
	font-family CooperHewitt-Bold
	src url(/assets/fonts/CooperHewitt/CooperHewitt-Bold.otf)

@font-face
	font-family CooperHewitt-Semibold
	src url(/assets/fonts/CooperHewitt/CooperHewitt-Semibold.otf)

body #q-app
	font-family Montserrat-Regular

.modal-content {
	color: #4a4a4a;
}

.text-blueish {
  color: #33597b;
}

.bg-blueish {
  background: #33597b;
}

.modal-header {
  color: #4a4a4a;
}

.q-notifications > div.column {
  display: flex
}

.wizard-header, .wizard-icon-circle, .wizard-nav, .wizard-progress-with-circle{
  display: none;
	visibility: hidden;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 2.5em;
  padding-bottom: 6em;
}

.layout-wrapper > div {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.layout-wrapper > div > section:last-of-type {
  flex-grow: 1;
}

.layout-wrapper.no-footer {
	height: 100vh;
}
